.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  z-index: 100;
  top: 0rem;
  position: sticky;  
  position: -webkit-sticky;
  z-index: 2000;
}

.header .topHeader {
  background: rgb(167, 186, 194);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.header .navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.header .navigation .link {
  margin: 0 1rem;
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: rgba(227, 109, 45, 0.814)
}

.header .navigation .link:hover {
  transform: scale(1.1);
  background-color: rgba(255, 192, 203, 0.601);
}

.header .navigation .link:last-child {
  background-color: rgb(25, 75, 223);
  color: #fff;
  box-shadow: 0rem 2rem 6rem .1rem rgba(63, 98, 203, 0.734);
}

.header .menu {
  position: fixed;
  transition: left .3s linear;
  top: 0rem;
  background-color: #fff;
  width: 25rem;
  /* border: .1rem solid #000; */
  padding: 1rem 2rem;
  /* border-top-left-radius: 1rem; */
  /* border-top-right-radius: 1rem; */
  height: 100%;
  width: 100%;
  transition: all 0.2s linear;
}

.header .menu .close{
  position: absolute;
  right: 0;
  margin: 1rem;
  z-index: 2;
}

.header .menuIcon {
  color: #fff;
}

.header .menu .menuList{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header .menu .menuList a{
  text-decoration: none;
  color: #000;
  font-size: 3.5rem;
  margin: 2rem 0;
}

/* footer */
.footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2rem 2rem;
  background: rgb(26, 34, 55);
  z-index: 100;
  margin-top: 5rem;
}

.footer .logo {
  display: flex;
  align-items: center;
}

.footer .footerMenu {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.footer .footerList {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 2rem;
}

.footer .footerList .heading {
  color: rgb(226, 239, 192);
  margin: 1rem 0;
  font-size: 2rem;
}

.footer .list{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer .list li{
  margin: .5rem 0;
}

.footer .list a{
  text-decoration: none;
  color:  #fff;
}

.footer .footerList li,
.footer .footerList p {
  color: #fff;
  font-size: 1.7rem;
  padding: .5rem 1rem;
  transition: all .2s linear;
  cursor: pointer;
}

.footer .footerList li::before {
  content: "\203A";
  margin-right: .5rem;
}

.footer .footerList li:hover{
  background-color: orange;
}

.footerDetail{
  color: #fff;
  margin: 1rem 0;
  padding-right: 4rem;
}

.footerDetail h2{
  margin: 2rem 0;
  font-size: 2.2rem;
}

.social{
  color: #fff;
  margin: 1rem 0;
}

.social h2{
  font-size: 2rem;
}

.social ul{
  display: flex;
  list-style: none;
  margin: 2rem 0;
}

.social ul li{
  margin: 0 1rem;
}

.social ul li a{
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .header .mobileNav {
    display: none;
  }
    .footerDetail{
    width: 30%;
    border-right: .1rem solid #fff;
  }
}

@media only screen and (max-width: 768px) {
  .header .navigation {
    display: none;
  }

  .footer {
    flex-direction: column;
  }

  .footer .footerMenu {
    flex-direction: column;
  }

  .footer .footerList {
    margin: 1rem 0;
  }

  .footer .footerList .list li {
    display: inline-block;
    margin-right: 1rem;
  }


}